<div class="col-xs-12">
	<a href="#!/addItem" style="margin-bottom:10px;margin-top:10px" class="btn btn-primary btn-lg btn-block">
		<span class="glyphicon glyphicon-plus"></span> Adicionar Item
	</a>
	<table class="table text-xs-center" style="margin:auto;width:50%" ng-repeat="item in itensLista | orderBy:'date'">
		<thead>				
			<tr>
				<th class="text-left">
					<a href="#!/addItem/edit/{{item.id}}" class="btn btn-primary btn-lg rounded borda-geral">
						<img src="https://image.flaticon.com/icons/svg/61/61456.svg" width="20px" height="20px"></img>
					</a>
				</th>
				<th class="text-center">
					<p style="font-size:30px;font-family:Cursive;max-width=300px">
						<span style="font-weight:bold;text-transform:uppercase">{{item.itemName}}</span>
					</p>
				</th>
				<th class="text-right">
					<button class="btn btn-danger btn-lg rounded borda-geral" ng-click="remove(item)">
						<img src="black_x_png_140933.png" width="20px" height="20px"></img>
					</button>
				</th>
			</tr>
		</thead>
	</table>
</div>